{% extends "base.html" %}

{% block content %}


<!--# set form to submit to a results page-->

<center>
<form action="/result" method="POST">
    <h1>Select Your City</h1>
    <p>Enter either your city name:</p>
    <input type = "text" name = "city" placeholder = "Enter your city">
    <p>Or your latitude and longitude:</P>
    <input type = "text" name = "latitude" placeholder = "Enter your latitude">
    <input type = "text" name = "longitude" placeholder = "Enter your longitude">
    <p></p>
    <input type = "submit">
</form>
<center>
    
    
<img src="static/test_chart.png">   

{% endblock %}